/* CSS Reset */

html, body, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li , figure, figcaption, form, fieldset, label, legend, dl, dt, dd, caption, table, td, th {
    margin: 				0;
    padding:				0;
    font-size: 				100%;
}

section, article, header, footer, nav, aside, main {
	display:				block;
}

img {
	border:					none;
}

ul, ol {
	list-style-type: 		none;
}



/* Defaults */

body {
	font-family:			Tahoma, Arial, sans-serif;
}

h1 {
	font-weight:			bold;
	color:					#0089FF;
	font-family: 			'Rampart One', cursive;	
	font-size:				5em;
	text-align: 			center;
}

h2 {
	font-size:				2.5em;
	margin:					0.5em;
	font-family: 			'Cormorant Garamond', serif;
	clear: 					both;
	text-align: 			center;
	color:					 antiquewhite;
}

h3 {
	font-size:				1.75em;
	margin:					0.5em;
	color:					#000;
	font-family: 			'Archivo Black', sans-serif;
	float: 					left;
	clear: 					both;
}

h4 {
	font-family:			Arial, Helvetica, sans-serif;
	font-weight:			bold;
	margin:					15px;
}

h4 a {
	color:					#0000FF;
}

p {
	font-family:			'Roboto Mono', monospace;
	color:					#ffff00;
	clear:					both;
	text-align:				center;
	font-weight:	 		bold;

}

#pageheader {
	padding-bottom:			2em;
	overflow:				hidden;
	max-width:				100%;
	background-color: 		#000;
}

.skiplink {
	position:				absolute;
	left: 					-10000px;
}

.skiplink:focus {
	left:					0;
	background-color: 		#4c712b;
	color:					#ffff00;
}

.skiplink a:hover, a:focus {
	color:					#4c712b;
	text-decoration:		underline;
}

#mainsection {
	overflow:				hidden;
	width:					100%;
	padding-bottom: 		50px;
	text-align:				center;
}

.colour {
	width: 					185px;
	height: 				100vh;
	display:				inline-block;
	transition:				all 0.25s;
	/* display:				flex-wrap; */
	/* margin: 				-10px -10px 75px -10px; */
	margin:					0;
	max-width:				100%;
	position: 				relative;
}

.colour h4{
    position:				absolute;
    bottom:					0;
	padding-bottom:			350px;
    color					:#fff;
	font-size: 				2em;
}

input[type="color" i] {
    padding:				0;
}
input[type="color" i]::-webkit-color-swatch-wrapper {
    padding:				0;
}

.colourone, .colourtwo, .colourthree, .colourfour, .colourfive, .coloursix, .colourseven, .coloureight {
	width: 					185px;
	height: 				100vh;	
}

.textone, .texttwo, .textthree, .textfour, .textfive, .textsix, .textseven, .texteight {
	display: 				flex;
	color:					 #000;
	align-items: 			center;
	justify-content: 		center;
	font-family: 			'Cormorant Garamond', serif;
	font-weight: 			bold;
	text-transform: 		uppercase;
	position: 				relative;
	margin-bottom: 			20px;
}



/* #text {
	display: 				flex;
	align-items: 			center;
	justify-content: 		center;
	width: 					350px;
	height: 				200px;
	color:					#fff;
	float: 					left;
	font-family: 			'Cormorant Garamond', serif;
	z-index: 1;
} */

